.{
    box-sizing: border-box;
}

.App{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    background-color: rgb(18, 154, 154);
}
.Menu, .Quiz , .EndScreen{

    color: white;
    text-align:center;
    height:500px;
    width: 500px;
    background-color: lightseagreen;
    border-radius:10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.Menu button, .Quiz button, .EndScreen button{
    width:300px;
    height:50px;
    border-radius:5px;
    cursor: pointer;
    margin:5px;
}
.options{
    display:flex;
    flex-direction:column;
    align-self:center;
    justify-content:center;


}